h1{
    font-weight: bold;
    font-style: oblique;
    font: size 2.5em;
    text-align: center;
    text-transform: capitalize;
    color: #ffcc00;

}
p{
    font-size: 1.2em;
    line-height:1.6;
}
div{
     background: white;
    padding: 20px;
    border-radius: 10px;
}
.title{ 
    margin: 0px;
    height: 000px;
    text-align:center;
    color: brown;
    font-size: 25px
}
.Biddut{
font-style: oblique;
    color: brown;
    font-size: 40px;
    text-align: left;
}
h3{
    color: darkgoldenrod;
    font-style: oblique;
}
img{
height: 334px;
width: 300px;
object-fit: cover;
margin:auto;
display:block;
}
.biddut{
    color: blue;
    font-size: 30px;
    font-style: oblique;
}
.title{
    color: chartreuse;
    font-size: 20px;
    font-style: italic;
}
.bold{
    font-style: oblique;
    font-size: xx-large;
    color: blue;
}
.sapla{
    font-style: inherit;
    color: chartreuse;
    font-size: xx-large
}
